<div style="text-align: center">
  <h3>{{ title + "!" }}</h3>
  <p>{{ message }}</p>
</div>
<div class="example-full-width">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Username" #username />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="handleClick(username.value)"> Click Me To Change Value Of Name</button>
  <h5>Two Way Data Binding Using and (click)="handleClick(name.value)"</h5>
  <p style="color:crimson">
    Change Name value with the help of passing new value in Input Text and Click Button. <span style="color:green">{{ name }}</span>
  </p>
</div>
